extends layout 
 
block content 
  h1= title 
 
  form(id='hallForm', action="/resource/halls", method="POST") 
    div.form-group 
        label.hallbonusAttr(for='hall_name') Hall Name
        input#hall_name(type='text', name='hall_name') 
    div.form-group 
        label.hallbonusAttr(for='hall_size') Hall size 
        input#hall_size(type='number', name='hall_size') 
    div.form-group 
        label.hallbonusAttr(for='hall_rent') Hall cost 
        input#hall_rent(type='number', name='hall_rent') 
    button(class="btn btn-danger m-2") Submit
 
  script. 
    document.forms['hallForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });